[versions]

# https://androidx.dev/storage/compose-compiler/repository for versions matching new Kotlin versions:
androidx-compose-compiler = "1.4.1"
androidx-compose-runtime = "1.3.3"
kotlin = "1.8.0"
kotlinCompileTesting = "1.4.9"
kotlinCompileTestingFork = "0.2.1"
ksp = "1.8.0-1.0.9"

[libraries]

androidx-compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "androidx-compose-runtime" }

autoService-annotations = { module = "com.google.auto.service:auto-service-annotations", version = "1.0.1" }
autoService-ksp = { module = "dev.zacsweers.autoservice:auto-service-ksp", version = "1.0.0" }

junit = { module = "junit:junit", version = "4.13.2" }

kotlin-compileTesting = { module = "com.github.tschuchortdev:kotlin-compile-testing", version.ref = "kotlinCompileTesting" }
kotlin-compileTestingFork = { module = "dev.zacsweers.kctfork:core", version.ref = "kotlinCompileTestingFork" }

kotlin-embeddableCompiler = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-gradleApi = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin-api", version.ref = "kotlin" }

truth = { module = "com.google.truth:truth", version = "1.1.3" }

[plugins]

android-library = { id = "com.android.library", version = "7.2.2" }
dokka = { id = "org.jetbrains.dokka", version = "1.6.21" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlinx-binaryCompatibilityValidator = { id = "org.jetbrains.kotlinx.binary-compatibility-validator", version = "0.11.1" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
