[versions]

androidx-compose = "1.0.1"
kotlin = "1.5.30"
kotlinForCompose = "1.5.21"

[libraries]

android-gradle = "com.android.tools.build:gradle:7.0.0"

androidx-compose-runtime = { module = "androidx.compose.runtime:runtime", version.ref = "androidx-compose" }

autoService-annotations = { module = "com.google.auto.service:auto-service-annotations", version = "1.0" }
autoService-ksp = { module = "dev.zacsweers.autoservice:auto-service-ksp", version = "0.5.3" }

dokka-gradle = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version = "1.4.32" }

junit = { module = "junit:junit", version = "4.13.2" }

kotlin-compileTesting = { module = "com.github.tschuchortdev:kotlin-compile-testing", version = "1.4.0" }
kotlin-embeddableCompiler = { module = "org.jetbrains.kotlin:kotlin-compiler-embeddable", version.ref = "kotlin" }
kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-gradleApi = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin-api", version.ref = "kotlin" }

kotlinForCompose-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlinForCompose" }

kotlinx-binaryCompatibilityValidator = { module = "org.jetbrains.kotlinx:binary-compatibility-validator", version = "0.5.0" }

ksp-gradle = { module = "com.google.devtools.ksp:symbol-processing-gradle-plugin", version = "1.5.31-1.0.0" }

truth = { module = "com.google.truth:truth", version = "1.1.2" }
