name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 22

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: ./gradlew build publishToMavenLocal --stacktrace
        env:
          ORG_GRADLE_PROJECT_personalGpgKey: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgKey }}
          ORG_GRADLE_PROJECT_personalGpgPassword: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgPassword }}
      - name: Upload MavenLocal directory
        uses: actions/upload-artifact@v4
        with:
          name: MavenLocal
          path: ~/.m2/repository/dev/drewhamilton/poko/
          if-no-files-found: error

  test-with-jdk:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        poko_tests_jvm_toolchain_version: [ 8, 11, 17, 21 ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install JDK ${{ matrix.poko_tests_jvm_toolchain_version }}
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: |
            ${{ matrix.poko_tests_jvm_toolchain_version }}
            22

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Test
        run: ./gradlew :poko-tests:jvmTest :poko-tests-without-k2:jvmTest --stacktrace
        env:
          poko_tests_jvm_toolchain_version: ${{ matrix.poko_tests_jvm_toolchain_version }}

  build-sample:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        poko_sample_kotlin_version: [ 2.0.20, ~ ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          # TODO: Bump to 22 when Gradle supports Kotlin 2.0 in buildSrc
          java-version: 21
      - name: Download MavenLocal
        uses: actions/download-artifact@v4
        with:
          name: MavenLocal
          path: ~/.m2/repository/dev/drewhamilton/poko/

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build sample
        run: cd sample && ./gradlew build --stacktrace
        env:
          poko_sample_kotlin_version: ${{ matrix.poko_sample_kotlin_version }}

env:
  GRADLE_OPTS: >-
    -Dorg.gradle.configureondemand=true
    -Dkotlin.incremental=false
    -Dorg.gradle.jvmargs="-Xmx3g -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:MaxMetaspaceSize=512m"
