name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Install JDK
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: |
            8
            11
            17
            21
      - name: Build
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: wrapper
          arguments: build publishToMavenLocal --stacktrace
        env:
          ORG_GRADLE_PROJECT_personalGpgKey: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgKey }}
          ORG_GRADLE_PROJECT_personalGpgPassword: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgPassword }}
      - name: Upload MavenLocal directory
        uses: actions/upload-artifact@v4
        with:
          name: MavenLocal
          path: ~/.m2/repository/dev/drewhamilton/poko/
          if-no-files-found: error

  build-sample:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        ci_java_version: [ 8, 11, 17, 21 ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Install JDK ${{ matrix.ci_java_version }}
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: ${{ matrix.ci_java_version }}
      - name: Download MavenLocal
        uses: actions/download-artifact@v3
        with:
          name: MavenLocal
          path: ~/.m2/repository/dev/drewhamilton/poko/
      - name: Build sample
        uses: gradle/gradle-build-action@v2
        with:
          build-root-directory: sample
          gradle-version: wrapper
          arguments: build --stacktrace
        env:
          ci_java_version: ${{ matrix.ci_java_version }}

env:
  GRADLE_OPTS: >-
    -Dorg.gradle.configureondemand=true
    -Dkotlin.incremental=false
    -Dorg.gradle.jvmargs="-Xmx3g -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:MaxMetaspaceSize=512m"
