name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: |
            24
            25

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: >-
          ./gradlew
          :poko-annotations:build
          :poko-compiler-plugin:build
          :poko-gradle-plugin:build
          publishToMavenLocal
          --stacktrace
        env:
          ORG_GRADLE_PROJECT_personalGpgKey: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgKey }}
          ORG_GRADLE_PROJECT_personalGpgPassword: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgPassword }}

      - name: Upload MavenLocal directory
        uses: actions/upload-artifact@v6
        with:
          name: MavenLocal
          path: ~/.m2/repository/dev/drewhamilton/poko/
          if-no-files-found: error

      - name: Test
        # Builds and run tests for any not-yet-built modules, i.e. the :poko-tests modules
        run: ./gradlew build --stacktrace

      - name: Test without K2
        # Builds and run tests for any not-yet-built modules, i.e. the :poko-tests modules
        run: >-
          ./gradlew :poko-tests:clean build --stacktrace
          -Dorg.gradle.project.pokoTests.compileMode=WITHOUT_K2

  test-with-jdk:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        poko_tests_jvm_toolchain_version: [ 8, 11, 17, 21 ]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Install JDK ${{ matrix.poko_tests_jvm_toolchain_version }}
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: |
            ${{ matrix.poko_tests_jvm_toolchain_version }}
            25

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Test
        run: >-
          ./gradlew :poko-tests:jvmTest --stacktrace
          -Dorg.gradle.project.pokoTests.jvmToolchainVersion=${{ matrix.poko_tests_jvm_toolchain_version }}

      - name: Test without K2
        run: >-
          ./gradlew :poko-tests:jvmTest --stacktrace
          -Dorg.gradle.project.pokoTests.jvmToolchainVersion=${{ matrix.poko_tests_jvm_toolchain_version }}
          -Dorg.gradle.project.pokoTests.compileMode=WITHOUT_K2

  build-sample:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        poko_sample_kotlin_version: [ 2.3.0, ~, 2.3.20-Beta2 ]
        poko_sample_kotlin_language_version: [ 1.9, ~ ]
    env:
      poko_sample_kotlin_version: ${{ matrix.poko_sample_kotlin_version }}
      ORG_GRADLE_PROJECT_pokoSample_kotlinLanguageVersion: ${{ matrix.poko_sample_kotlin_language_version }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 25
      - name: Download MavenLocal
        uses: actions/download-artifact@v7
        with:
          name: MavenLocal
          path: ~/.m2/repository/dev/drewhamilton/poko/

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Upgrade yarn lock
        if: ${{ matrix.poko_sample_kotlin_version != null && !(startsWith(matrix.poko_sample_kotlin_version, '2.3') && startsWith(matrix.poko_sample_kotlin_language_version, '1')) }}
        run: cd sample && ./gradlew kotlinUpgradeYarnLock

      - name: Build sample
        run: cd sample && ./gradlew build --stacktrace

env:
  GRADLE_OPTS: >-
    -Dorg.gradle.configureondemand=true
    -Dkotlin.incremental=false
    -Dorg.gradle.jvmargs="-Xmx3g -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:MaxMetaspaceSize=512m"
