name: Release

on:
  push:
    branches: [ main ]
    tags: [ "*" ]

jobs:
  release:
    runs-on: macos-latest

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 24

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Assemble for release
        run: ./gradlew assemble
      - name: Publish
        run: ./gradlew publish --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_personalSonatypeIssuesUsername }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_personalSonatypeIssuesPassword }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgKey }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_personalGpgPassword }}
